@import "tailwindcss";

@theme {
  --font-mono: "Space Mono", monospace;
}

:root {
  --background: #f4f4f0;
  --foreground: #000000;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono);
  cursor: default !important; /* Hapus custom cursor library */
}

/* Utilitas khusus Neo-Brutalism */
.brutalist-card {
  @apply bg-white border-4 border-black shadow-[8px_8px_0px_0px_rgba(0,0,0,1)] hover:shadow-none hover:translate-x-1 hover:translate-y-1 transition-all;
}

.brutalist-button {
  @apply border-4 border-black px-6 py-2 font-black uppercase shadow-[4px_4px_0px_0px_rgba(0,0,0,1)] hover:shadow-none hover:translate-x-0.5 hover:translate-y-0.5 transition-all;
}